page-login {
	.scroll-content {
		padding-bottom: 0 !important;
	}
	.overlay{
		position:fixed;
		background:url(../assets/imgs/login-bg.jpg);
		background-position: center center;
		-webkit-animation:350s scroll infinite linear;
		-moz-animation:350s scroll infinite linear;
		-o-animation:350s scroll infinite linear;
		-ms-animation:350s scroll infinite linear;
		animation:350s scroll infinite linear;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: -1;
	}

	@-webkit-keyframes scroll{
		100%{
			background-position:0px -3000px;
		}
	}

	@-moz-keyframes scroll{
		100%{
			background-position:0px -3000px;
		}
	}

	@-o-keyframes scroll{
		100%{
			background-position:0px -3000px;
		}
	}

	@-ms-keyframes scroll{
		100%{
			background-position:0px -3000px;
		}
	}

	@keyframes scroll{
		100%{
			background-position:0px -3000px;
		}
	}
	.logo{
		margin-top: -50px;
	}

	.login-content{
		height: 100%;
	}
	.login-area{
		-webkit-box-shadow: 0px -15px 50px 20px rgba(255,255,255,1);
		-moz-box-shadow: 0px -15px 50px 20px rgba(255,255,255,1);
		box-shadow: 0px -15px 50px 20px rgba(255,255,255,1);
		padding-bottom: 35px !important;
		background-color: #FFFFFF;
		width: 100%;
	}
	.btn-facebook{
		background-color: #3b5998;
		border-color: #3b5998;
	}
	.cadastre{
		background-color: transparent;
		box-shadow: none;
	}

	.FazerLogin, .FazerCadastro {
		-webkit-animation: slideInSmooth ease-in 1;
		animation: slideInSmooth ease-in 1;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-duration: 750ms;
		animation-duration: 750ms;
	}

	@-webkit-keyframes slideInSmooth {
		0% {
			-webkit-transform: translate3d(-100%,0,0);
		}
		
		50% {
			-webkit-transform: translate3d(50%,0,0);
		}
		
		100% {
			-webkit-transform: translate3d(0,0,0);
		}
	}

}
