<ion-content>
	<div class="overlay"></div>

	<div class="login-content d-flex align-items-end">
		<div class="login-area" padding>

			<div class="text-center logo">
				<ion-img [width]="250" [height]="100" src="../assets/imgs/logo-busca.png"></ion-img>
			</div>

			<h3 class="text-center mb-0"><strong>Bem-vindo(a) ao Catálogo</strong></h3>

			<div *ngIf="show == 'FazerLogin'" class="FazerLogin">

				<form (ngSubmit)="logar()">
					<ion-list>
						<ion-item no-padding>
							<ion-label floating> Seu Email </ion-label>
							<ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
						</ion-item>
						<ion-item no-padding>
							<ion-label floating> Sua Senha </ion-label>
							<ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
						</ion-item>
					</ion-list>

					<ion-grid no-padding>
						<ion-row>
							<ion-col>
								<button ion-button type="submit" color="secondary" full>FAZER LOGIN</button>
							</ion-col>
							<ion-col>
								<button ion-button class="cadastre" color="light" full (click)="showContent('FazerCadastro')" >OU CADASTRE-SE</button>
							</ion-col>
						</ion-row>
					</ion-grid>
					
				</form>

				<hr class="my-4">
				
				<ion-grid no-padding>
					<ion-row>
						<ion-col>
							<button ion-button class="btn-facebook" icon-start full (click)="loginFacebook()"><ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon> Facebook</button>
						</ion-col>
						<ion-col>
							<button ion-button icon-start color="danger" full (click)="loginGoogle()"><ion-icon ios="logo-google" md="logo-google"></ion-icon> Google</button>
						</ion-col>
					</ion-row>
				</ion-grid>

				<div class="mt-4 text-center">
					<small>Ao continuar, você concorda com os <strong>Termos de Serviço</strong> e com a <strong>Política de Privacidade</strong> do Busca na Rede.</small>
				</div>
				
			</div>

			<div *ngIf="show == 'FazerCadastro'" class="FazerCadastro">

				<form (ngSubmit)="cadastrar()">
					<ion-list>
						<ion-item no-padding>
							<ion-label floating> Seu Nome </ion-label>
							<ion-input type="text" [(ngModel)]="nome" name="nome"></ion-input>
						</ion-item>
						<ion-item no-padding>
							<ion-label floating> Seu Email </ion-label>
							<ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
						</ion-item>
						<ion-item no-padding>
							<ion-label floating>Setor de Atuação</ion-label>
							<ion-select [(ngModel)]="setor" name="setor" okText="OK" cancelText="CANCELAR">
								<ion-option value="Proprietário de Veículo">Proprietário de Veículo</ion-option>
								<ion-option value="Mecânico / Reparador">Mecânico / Reparador</ion-option>
								<ion-option value="Frotista">Frotista</ion-option>
								<ion-option value="Varejista">Varejista</ion-option>
								<ion-option value="Oficina Reparadora">Oficina Reparadora</ion-option>
								<ion-option value="Taxista">Taxista</ion-option>
								<ion-option value="Auto Center">Auto Center</ion-option>
								<ion-option value="Transportadora">Transportadora</ion-option>
								<ion-option value="Distribuidora">Distribuidora</ion-option>
								<ion-option value="Outros">Outros</ion-option>
							</ion-select>
						</ion-item>
						<ion-item no-padding>
							<ion-label floating> Sua Senha </ion-label>
							<ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
						</ion-item>
						<ion-item no-padding>
							<ion-label floating> Confirmar Senha </ion-label>
							<ion-input type="password" [(ngModel)]="confirmarsenha" name="confirmarsenha"></ion-input>
						</ion-item>
					</ion-list>

					<ion-grid no-padding>
						<ion-row>
							<ion-col>
								<button ion-button type="submit" color="secondary" full>CADASTRAR-SE</button>
							</ion-col>
							<ion-col>
								<button ion-button class="cadastre" color="light" full (click)="showContent('FazerLogin')" >OU FAÇA LOGIN</button>
							</ion-col>
						</ion-row>
					</ion-grid>
					
				</form>


				<div class="mt-4 text-center">
					<small>Ao continuar, você concorda com os <strong>Termos de Serviço</strong> e com a <strong>Política de Privacidade</strong> do Busca na Rede.</small>
				</div>
			</div>


		</div>
	</div>

</ion-content>