page-favoritos {
	ion-item {
		border-bottom: 1px solid #dedede !important;
	}
	.item-inner {
		border-bottom: 1px solid transparent !important;
	}
	ion-avatar {
		text-align: center;
		margin: 0 10px !important;
		font-size: 3rem;
		color: #aaaaaa;
	}
	ion-item small {
		letter-spacing: 0.5px;
		font-weight: 300;
		color: #aaaaaa;
	}
	ion-item small .secondary{
		color: #32db64;
	}
	ion-item small .danger{
		color: #a8a8a8;
	}
	ion-item ion-icon.secondary{
		color: #32db64;
	}
	ion-item ion-icon.danger{
		color: #d8d8d8;
	}
	.lista-title{
		font-size: 1.8rem;
		margin-top: 30px;
		padding-left: 15px;
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #eee;
		text-transform: uppercase;
	}
	.label-md {
		margin: 5px 8px 5px 0;
	}
	.share-link{
		color: #ccc;
	}
}
