<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar>
    <div class="navbar"> 
    <ion-grid>
      <ion-row>
       <ion-col class="text-center text-white">
        <ion-icon tappable (click)="voltar()" class="icones pull-left" name="ios-arrow-back"></ion-icon>
          <span class="titulo"> BUSCA NA REDE </span> 
          <ion-icon class="pull-right" name="heart-outline"></ion-icon>
        </ion-col>
      </ion-row> 
    </ion-grid>
    </div>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen>

  <div class="page-load" *ngIf="!loadpage">
    <ion-spinner item-start="" name="bubbles" class="spinner spinner-ios spinner-bubbles spinner-ios-bubbles"></ion-spinner>
  </div>

  <div class="mgs-off" *ngIf="hideMenu">
    <i class="fal fa-engine-warning fa-2x"></i>
    <h5>{{msgoff}}</h5>
  </div>

  <div class="text-center mt-5" *ngIf="isConnected">
    <button ion-button outline round color="secondary" (click)="OpenModalNewList();">CRIAR NOVA LISTA</button>
  </div>
  
  <div *ngFor="let item of userlista" no-padding>

    <div class="lista-title">
      {{item.empresa}}
    </div>

    <ion-list>

      <ion-item-sliding *ngFor="let linha of item.listas">
        
        <ion-item no-padding (click)="goLista(item._id, item.slug_empresa, item.empresa, item.cor, linha.total_produtos, linha.produtos)">
          <ion-avatar item-start>
              <ion-icon *ngIf="linha.publico == '1'" ios="ios-lock" md="md-lock" class="danger" ></ion-icon>
              <ion-icon *ngIf="linha.publico == '0'" ios="ios-unlock" md="md-unlock" class="secondary" ></ion-icon>
          </ion-avatar>
          <div class="pull-left">
            <h2>{{linha.nome}}</h2>
            <small><span *ngIf="linha.publico == '0'" class="secondary">Publica</span><span *ngIf="linha.publico == '1'" class="danger">Não publica</span></small>
          </div>
          <div class="pull-right text-center ml-4 mt-2">
            <a href="#" class="share-link"><i class="fal fa-share-alt fa-2x"></i></a>
          </div>
          <div class="pull-right text-center">
            <div>{{linha.total_produtos}}</div>
            <small>Produtos</small>
          </div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger"><ion-icon name="trash"></ion-icon>Excluir</button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-list>

  </div>


</ion-content>


<ion-footer class="footerWhite" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterLHomePage();"><i class="fal fa-clone"></i><div>Catálogos</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterFavoritosPage();"><i class="fas fa-list-alt"></i><div>Listas</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterPerfilPage();"><i class="fal fa-user-circle"></i><div>Perfil</div></a></div>
    </div>
  </ion-toolbar>
</ion-footer>