<ion-tabs>
	<ion-tab [root]="tab1Root" tabTitle="Catálogos" tabIcon="albums"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Listas" tabIcon="heart"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="contact"></ion-tab>
</ion-tabs>
