page-perfil {

	.user_login_info{
		padding:0px;
	}
	.user_thumb{
		width:100%;
		margin:auto;
		position:relative;
	}
	.user_thumb img{
		display:block;
		max-width:100%;
		z-index:777;
	}
	.user_details{
		position:absolute;
		bottom:0px;
		left:0px;
		width:100%;
		height:132px;
		z-index:888;
		background:url(../assets/imgs/trans_black_gradient.png) repeat-x;
	}
	.user_details p{
		padding: 50px 0 0 10px;
		text-align:left;
		font-size:14px;
		color:#1ed760;
	}
	.user_details p span{
		display:block;
		font-size:22px;
		padding:5px 0 0 0;
		color:#ffffff;
	}
	.user_avatar{
		z-index:999;
		position:absolute;
		bottom:15px;
		right:15px;
		width:30%;
	}
	.user_avatar img{
		display:block;
		max-width:100%;
		margin:10px 0 0 0;
		border-radius:50%;
	}
	.info{
		color: #aaaaaa;
	}
	.list-unstyled {
		margin-top: 0;
		padding-left: 0;
		list-style: none;
	}
	.type-list > li {
		display: table;
		width: 100%;
		padding: 5px 0;
		border-bottom: 1px solid #eeeeee;
	}
	.type-list > li:last-child {
		border-bottom: 1px solid transparent;
	}
	.type-list > li > span {
		display: table-cell;
		vertical-align: middle;
	}
	.form-control {
		display: block;
		width: 100%;
		padding: .5rem .75rem;
		font-size: 1rem;
		line-height: 1.25;
		color: #495057;
		background-color: #fff;
		background-image: none;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: .25rem;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
}
