<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar>
    <div class="navbar"> 
    <ion-grid>
      <ion-row>
       <ion-col class="text-center text-white">
        <ion-icon tappable (click)="voltar()" class="icones pull-left" name="ios-arrow-back"></ion-icon>
          <span class="titulo"> BUSCA NA REDE </span> 
          <ion-icon class="pull-right" name="heart-outline"></ion-icon>
        </ion-col>
      </ion-row> 
    </ion-grid>
    </div>
  </ion-navbar>
</ion-header>

<ion-content #pageContent fullscreen>


  <div class="user_login_info">

    <div class="user_thumb">
      <img src="assets/imgs/perfil_bg.jpg" alt="" title="" />
      <div class="user_details">
        <p>Bem vindo, <span>Ricardo Souza</span></p>
      </div>  
      <div class="user_avatar"><img src="assets/imgs/avatar/{{avatar}}" alt="" title="" /></div>       
    </div>

    <div class="pt-5 px-2 text-center">
      <span class="info">EM BREVE</span>
    </div>

  </div>


</ion-content>

<ion-footer class="footerWhite" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterLHomePage();"><i class="fal fa-clone"></i><div>Catálogos</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterFavoritosPage();"><i class="fal fa-list-alt"></i><div>Listas</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterPerfilPage();"><i class="fas fa-user-circle"></i><div>Perfil</div></a></div>
    </div>
  </ion-toolbar>
</ion-footer>