<ion-header [style.background-color]="cor" [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar hideBackButton [style.background-color]="cor">
    <ion-grid [style.background-color]="cor" style="padding-bottom:0;">
      <ion-row class="topo">
        <ion-col class="text-center text-white">
          <ion-icon tappable (click)="voltar()" class="icones  pull-left" name="ios-arrow-back"></ion-icon>
          <span class="titulo"> {{categoria}} </span>
          <ion-icon class="icones  pull-right" name="notifications"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="display:flex;flex-direction:row;padding:0;">
          <ion-searchbar #q placeholder="Buscar..." [showCancelButton]="shouldShowCancel"
          (keyup.enter)="goSearchEmpresa(q.value)"
          (ionCancel)="onCancel($event.target.value)">
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-navbar>
</ion-header>


<ion-content padding #pageContent fullscreen>

	<ion-list [virtualScroll]="itens" [approxItemHeight]="'88px'">

		<ion-item-sliding *virtualItem="let empresa" class="swipeout" no-padding>
			<ion-item class="swipeout-content item-content categorias" (click)="goLista(empresa._id, empresa.slug, empresa.nome, empresa.cor, empresa.total_produtos)" no-padding>
				<ion-avatar item-start class="m-0">
					<span><img src="assets/empresas/{{empresa.capa_nome}}" style="width: 100px; height: auto" alt=""></span>
					<div class="dados-categoria">
						
					</div>
				</ion-avatar>
				<h2 class="titulo">{{empresa.nome}}</h2>
				<div class="CatSub">
					{{empresa.categorias}}
					<div>{{empresa.subcategorias}}</div>
					<div class="total">TOTAL DE PRODUTOS: {{empresa.total_produtos}}</div>
				</div>
			</ion-item>
			<ion-item-options side="right">
				<button class="addFavoritos" ion-button color="danger">
					<i class="fal fa-heart"></i>
					Salvar
				</button>
			</ion-item-options>
		</ion-item-sliding>

	</ion-list>
</ion-content>


<ion-footer class="footerWhite" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterLHomePage();"><i class="fas fa-clone"></i><div>Catálogos</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterFavoritosPage();"><i class="fal fa-list-alt"></i><div>Listas</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterPerfilPage();"><i class="fal fa-user-circle"></i><div>Perfil</div></a></div>
    </div>
  </ion-toolbar>
</ion-footer>