page-categoria {
	.list-md .item-block .item-inner {
		border-bottom: 1px solid transparent;
	}
	ion-item-sliding .categorias {
		border-bottom: 1px solid #f6f6f6;
		padding: 5px 0;
	}
	h2.titulo{
		text-transform: uppercase;
	}
	.CatSub{
		letter-spacing: 1px;
		font-weight: 300;
		font-size: 11px;
		color: #555555;
	}
	.label-md {
		margin: 0;
	}
	.total{
		color: #000;
		margin-top: 5px;
	}
}
