<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar>
    <div class="navbar"> 
    <ion-grid>
      <ion-row>
       <ion-col style="text-align: center;">
        <ion-icon tappable (click)="voltar()" style="color: white" class="icones pull-left" name="ios-arrow-back"></ion-icon>
          <span class="titulo" style="color: white"> CRIAR NOVA LISTA </span>
        <ion-icon style="float: right; color: white !important;" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<div class="page-load" *ngIf="!loadpage">
		<ion-spinner item-start="" name="bubbles" class="spinner spinner-ios spinner-bubbles spinner-ios-bubbles"></ion-spinner>
	</div>

	<form (ngSubmit)="novalista()">

		<ion-list class="mt-5">

			<div> NOME DA LISTA </div>
			<ion-item class="mb-5" no-padding>
				<ion-input type="text" [(ngModel)]="nomelista" name="nomelista" placeholder="Nome da lista"></ion-input>
			</ion-item>

			<div> SELECIONE O CATALOGO </div>
			<ion-item class="mb-5 empresalista" no-padding>
				<ion-select [(ngModel)]="empresalista" name="empresalista">
					<ion-option *ngFor="let userList of userlistcat" value="{{ userList._id }}">{{ userList.nome }}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item class="mb-5" no-padding>
				<ion-label>TORNAR A LISTA PUBLICA?</ion-label>
				<ion-toggle [(ngModel)]="publica" name="publica"></ion-toggle>
			</ion-item>

		</ion-list>

		<ion-grid no-padding>
			<ion-row>
				<ion-col class="text-center">
					<button ion-button type="submit" outline round color="secondary">SALVAR NOVA LISTA</button>
				</ion-col>
			</ion-row>
		</ion-grid>

	</form>

</ion-content>
