page-home {
    .page-load {
        z-index: 2;
    }
    ion-slides {
        height: initial;
    }
    .swiper-container { 
        height: initial;
    }
    .toolbar-background{
        background-color: #1ED760 !important;
    }
    .vertodos{
        float: right;
        color: #a3a3a3 !important;
        text-transform: uppercase;
        font-size: 1.1em !important;
    }
    .imagemContainer{
        text-align: center !important;
        width: 100%;
        display: inline-block !important;

    }
    .imagemCard{
        width: 10em;
        height:9em;
        display: inline;
    }
    .info{
        font-size: 0.6em;
        line-height: 1.2;
        margin-top: -2em;
        
    }
    .alertas{
        float: left;
        padding-left: 0;
    }
    .alertas .button-small-md {
        height: 2em;
        font-size: 1.1rem;
        padding: 0 0.5em;
        margin: 1px;
        letter-spacing: 0.4px;
        font-weight: 300;
        border-color: #ded9d9;
        color: #2d2d2d;
    }
    .produtos{
        float: right;
        padding-right: 0.7rem;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .bolsas > ion-icon{
        padding-right: 0.3rem;
    }
    .listaCatalogos{
        margin-left: -1.2em;
      
    }
    .empresa-nome{
        text-transform: uppercase;
        font-weight: 500;
    }
    .catalogo-item .card {
        box-shadow: none;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-right: 1px solid #eee;
    }
    ion-card-content.links {
        border-top: 1px solid #eee;
        padding: 12px 5px 0;
        font-size: 1.2rem;
        overflow: hidden;
        width: 100%;
        color: #555;
    }
    .item.item-block .label-md{
        margin: 0;
    }
    .favoritos .card{
        margin-bottom: 0;
    }
    .cardFooter {
        font-size: 14px;
        color: #6d6d72;
        border-bottom: 1px solid #eee;
        overflow: hidden;
    }
    .cardFooter.no-border{
        border-bottom: 1px solid transparent;
    }
    .catalogo-item.favoritos .card {
        border-right: 1px solid #ebeceb;
    }
    .item-md.item-block .item-inner {
        border-bottom: 1px solid #ebeceb;
        padding: 0;
    }


}
