<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar>
    <div class="navbar"> 
    <ion-grid>
      <ion-row>
       <ion-col style="text-align: center;">
        <ion-icon style="float: left; color: white !important;" (click)="goFooterPerfilPage();" name="person"></ion-icon>
          <span class="titulo" style="color: white !important"> BUSCA NA REDE </span> 
          <ion-icon style="float: right; color: white !important;" (click)="goFooterFavoritosPage();" name="heart-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
  </ion-navbar>
</ion-header>


<ion-content class="home" #pageContent fullscreen>


  <div class="page-load" *ngIf="!loadpage">
    <ion-spinner item-start="" name="bubbles" class="spinner spinner-ios spinner-bubbles spinner-ios-bubbles"></ion-spinner>
    <div> Carregando aguarde...</div>
  </div>

  <div *ngIf="userlistcattoal > 0">

    <ion-title class="mt-5 title-block">
      MEUS CATÁLOGOS FAVORITOS
    </ion-title>

    <ion-slides [slidesPerView]="slidesCatalogo" loop="true">

      <ion-slide *ngFor="let userList of userlistcat">
        <div class="catalogo-item favoritos">

          <ion-card (click)="goLista(userList._id, userList.slug, userList.nome, userList.cor, userList.total_produtos)">

            <div class="imagemContainer">
              <img src="assets/empresas/{{userList.capa_nome}}" class="imagemCard" alt="">
            </div>

            <div *ngFor="let progressListaEmpresa of progressLista">
              <div *ngIf="progressListaEmpresa.empresa == userList.slug">
                <div class="progress-circle-ok" *ngIf="progressListaEmpresa.valor == '100'"><i class="fas fa-shield-check"></i></div>
              </div>
              <div class="progress-circle" id="teste" [attr.data-progress]="progressListaEmpresa.valor" *ngIf="progressListaEmpresa.empresa == userList.slug"></div>
            </div>
            <div class="empresa-nome">{{ userList.nome }}</div>
            <ion-card-content class="links">

              <span class="alertas">
                <div (click)="checkFile(empresa.capa_nome);" *ngIf="isConected">
                  <i class="fas fa-star mr-1"></i> Salvo 
                </div>
              </span>
              
              <span class="produtos count-{{ userList.total_produtos }}"> 
                <i class="fas fa-car-mechanic"></i> {{userList.total_produtos}}
              </span>

            </ion-card-content>

          </ion-card>
        </div>
      </ion-slide>

    </ion-slides>

  </div>


  <div class="py-2">
    <ion-slides [autoplay]="5000" loop="true">
      <ion-slide>
         <img src="assets/imgs/banner/banner1.jpg" alt="">
      </ion-slide>
      <ion-slide>
         <img src="assets/imgs/banner/banner2.jpg" alt="">
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid no-padding>
    <ion-row justify-content-between>

      <ion-col col-12 class="categoria-list" *ngFor="let categoria of categorias">

        <ion-title class="mt-5 title-block">
          {{categoria.categoria}}
          <a href="#" class="pull-right" color="primary" (click)="goPageCategoria(categoria.categoria)">Ver tudo</a>
        </ion-title>
        


        <ion-item justify-content-between no-padding no-margin>

          <ion-slides [slidesPerView]="slidesCatalogo" loop="true">

            <ion-slide class="catalogo-item" *ngFor="let empresa of categoria.empresas | slice:0:8; let i=index">

             
              <ion-card *ngIf="i < 8">
                <div class="imagemContainer" (click)="goLista(empresa._id, empresa.slug, empresa.nome, empresa.cor, empresa.total_produtos)">

                  <div *ngFor="let progressListaEmpresa of progressLista">
                    <div *ngIf="progressListaEmpresa.empresa == empresa.slug">
                      <div class="progress-circle-ok" *ngIf="progressListaEmpresa.valor == '100'"><i class="fas fa-shield-check"></i></div>
                    </div>
                    <div class="progress-circle" id="teste" [attr.data-progress]="progressListaEmpresa.valor" *ngIf="progressListaEmpresa.empresa == empresa.slug"></div>
                  </div>
                  <img src="assets/empresas/{{empresa.capa_nome}}" class="imagemCard" alt="">

                  <div class="empresa-nome">{{ empresa.nome }}</div>
                </div>

                <ion-card-content class="links">

                  <span class="alertas">

                    <div id="SaveCatalogo-{{empresa._id}}">
                      <div (click)="checkFile(empresa.capa_nome);" *ngIf="isConected">
                        <i class="fal fa-star mr-1"></i> Salvar 
                      </div>
                    </div>

                  </span>
                  
                  <span class="produtos count-{{ empresa.total_produtos }}"> 
                    <i class="fas fa-car-mechanic"></i> {{empresa.total_produtos}}
                  </span>
                </ion-card-content>
              </ion-card>

            </ion-slide>

          </ion-slides>

        </ion-item>


      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="footerWhite" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <div class="flex-fill text-center"><a href="javascript:void(0);"><i class="fas fa-clone"></i><div>Catálogos</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterFavoritosPage();"><i class="fal fa-list-alt"></i><div>Listas</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterPerfilPage();"><i class="fal fa-question-square"></i><div>FAQ</div></a></div>
    </div>
  </ion-toolbar>
</ion-footer>