<ion-header [style.background-color]="cor" [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
	<ion-navbar hideBackButton [style.background-color]="cor">
		<ion-grid [style.background-color]="cor">
			<ion-row>
				<ion-col class="text-center text-white">

					<ion-icon tappable (click)="voltar()" class="icones  pull-left" name="ios-arrow-back"></ion-icon>
					<span class="titulo"> {{empresa_nome}} - NOTIFICAÇÕES</span>

				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>


<ion-content #pageContent fullscreen  no-padding>
	
	<ion-list no-padding>

		<ion-item *ngFor="let notification of empresa_dados" no-padding>
			<ion-item *ngFor="let not of notification.notificacoes" class="border-bottom" (click)="goDetalhe(not.id_produto)">
				
				<ion-avatar class="text-center" item-start>

					<div *ngIf="not.tipo == '1'"><i class="fal fa-layer-plus fa-2x"></i></div>
					<div *ngIf="not.tipo == '3'"><i class="fal fa-stars fa-2x"></i></div>
					<div *ngIf="not.tipo == '2'">
						<div *ngIf="not.sub_tipo == '1'"><i class="fal fa-file-alt fa-2x"></i></div>
						<div *ngIf="not.sub_tipo == '2'"><i class="fal fa-car-mechanic fa-2x"></i></div>
						<div *ngIf="not.sub_tipo == '3'"><i class="fal fa-calendar-plus fa-2x"></i></div>
						<div *ngIf="not.sub_tipo == '4'"><i class="fal fa-paperclip fa-2x"></i></div>
						<div *ngIf="not.sub_tipo == '5'"><i class="fal fa-images fa-2x"></i></div>
					</div>


					<small>há {{not.data}}</small>
				</ion-avatar>

				<h4>{{not.titulo}}</h4>
				<div>
					<small>{{not.texto}}</small>
				</div>
			</ion-item>
		</ion-item>

	</ion-list>

</ion-content>

<ion-footer class="footerWhite" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterLHomePage();"><i class="fas fa-clone"></i><div>Catálogos</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterFavoritosPage();"><i class="fal fa-list-alt"></i><div>Listas</div></a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterPerfilPage();"><i class="fal fa-warehouse-alt"></i><div>A Empresa</div></a></div>
    </div>
  </ion-toolbar>
</ion-footer>