page-notification {
	.toolbar-background {
		border: 0px !important;
		background: none;
	}
	.item-md.item-block .item-inner {
	    padding-right: 0;
	}
	.border-bottom{
		border-bottom: 1px solid #dedede;
	}
	.label-md {
		margin: 0;
	}
	.item-md {
		padding-left: 5px;
		padding-right: 5px;
	}
	small{
		color: #999999;
	}
	ion-avatar{
		color: #999999;
	}
}