page-lista {
    .btn-filter{
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0 5px;
    }
    .label-md {
        margin: 5px 8px 5px 0;
    }
    .progress-outer {
        z-index: 2;
        width: 100%;
        min-width: 10%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        color: #FFFFFF;
        position: absolute;
        min-height: 100px;
    }
    .spaceload{
        display: block;
        margin-top: 25px;
    }
    .progress-outer span, .progress-outer span i{
        font-size: 12px;
        color: #333333;
    }
    .progress-inner {
        white-space: nowrap;
        overflow: hidden;
        padding: 1px;
        font-size: 10px;
        background-color: #333;
    }
    .scroll-content {
        background-color: #FFFFFF !important;
    }
    .toolbar-background{
        border:0px !important;
        background: none;
    }
    .toolbar-content .icones{
        font-size: 2.3rem;
        color: white !important;
        cursor: pointer !important;
    }
    .lista{
        margin-right:-1.4em;
        margin-left:-1.4em;
        background-color: $fundo;
        width:110%;
    }
    .lista > ion-grid > ion-row{
        background-color: white;
    }
    .lista>ion-grid > ion-row > ion-col:last-child{
        margin-top:3em;
    }
    .lista:first-child{
        margin-left: -1em;
        margin-right: -1em;
        margin-top:-1em;
        background-color: $fundo;
    }
    .imagemContainer{
        width: 100%;
        height: 100%;
    }
    ion-content{
        background-color: white;
    }
    .codigo{
        background-color: #6c757d;
        padding: 3px;
        color:#fff
    }
    .icones_filter:before {
        color: white;
        vertical-align: sub;
    }
    // LISTA
    .item-md.item-block .item-inner{
        padding: 0;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 0;
        overflow: hidden;
        width: 70px;
        height: auto;
    }
    .list-block {
        margin: 0;
    }
    .list-block {
        margin: 35px 0;
        font-size: 17px;
    }

    .list-block .swipeout {
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .list-block li {
        border: 1px #e8e7e7 solid;
        margin: 0px 0 8px;
        background: #fff;
    }
    .list-block li {
        box-sizing: border-box;
        position: relative;
    }
    .list-block .item-content.produtos {
        min-height: 95px;
    }
    .list-block .item-content {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 0;
        padding-right: 0;
    }
    .list-block .swipeout-content {
        position: relative;
        z-index: 10;
    }
    .list-block .item-content {
        box-sizing: border-box;
        padding-left: 15px;
        min-height: 44px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .post_entry {
        display: flex;
        -ms-flex-align: center!important;
        align-items: center!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important;
    }
    .post_thumb {
        width: 20%;
        float: left;
        position: relative;
    }
    #pages_maincontent img {
        display: block;
        max-width: 100%;
    }
    .post_thumb img {
        display: inline-block;
        max-width: 100%;
    }
    .post_details {
        width: 63%;
        float: left;
        margin: 0 0 0 4%;
    }
    .post_swipe {
        width: 8%;
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: #FFFF;
        display: flex;
        -ms-flex-align: center!important;
        align-items: center!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important;
        padding: 0 10px 0 0;
    }
    .w-100 {
        width: 100% !important;
    }
    .post_details span, .post_single span {
        display: inline-block;
        padding: 3px 5px 0;
    }
    .post_category {
        font-size: 13px;
        padding: 0;
        display: inline-block;
        font-weight: 600;
    }
    .item-content.produtos {
        border-bottom: 1px solid #f1f1f1;
        min-height: 85px;
        padding: 5px;
    }
    .item-content.produtos .item-inner {
        border-bottom: none;
    }
    .item-content.produtos .titulo {
        margin: 2px 0;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: normal;
    }
    .item-content.produtos .subtitulo {
        font-size: 65%;
        color: #aaaaaa;
        letter-spacing: 0.5px;
        margin: 5px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .item-content.produtos .subtitulo-line {
        font-size: 65%;
        color: #aaaaaa;
        letter-spacing: 0.5px;
        margin: 5px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .item-content.produtos .aplicacoes {
        color: #777777;
        padding: 2px 0;
        font-size: 10px;
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
        display: -ms-flexbox!important;
        display: flex!important;
        border-bottom: 1px dashed #e8e8e8;
        text-transform: uppercase;
    }
    .item-content.produtos .aplicacoes:last-child{
        border-bottom: 1px dashed transparent;
    }
    .aplicacoes > div{
        width: 25%
    }
    .aplicacoes > div:nth-child(2){
        text-align: center;
    }
    .aplicacoes > div:last-child{
        text-align: right;
    }
    .addFavoritos i{
        margin-bottom: 5px;
    }

    #buttonLoad {
        pointer-events: none;
        position: relative;
    }
    #buttonLoad:before {
        content: '';
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    #buttonLoad:after {
        animation: fa-spin 2s infinite linear;
        font-family: "Font Awesome 5 Pro";
        content: "\f110";
        position: absolute;
        left: 25%;
        z-index: 1;
        color: #000;
        font-size: 3rem;
    }
    .lancamentos{
        background-color: #FFF;
        height: 16px;
        position: absolute;
        right: 0;
    }

    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: 0;
        border-radius: 100%;
        font-family: sans-serif;
        padding: 0;
        min-width: 20px;
        min-height: 20px;
        line-height: 20px;
    }



    .scroll {
        text-align: center;
        white-space: nowrap; /* [1] */
        overflow-x: auto; /* [2] */
        -webkit-overflow-scrolling: touch; /* [3] */
        -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */ 
    }

    /* [5] */
    .scroll::-webkit-scrollbar {
        display: none; 
    }

    .filtro a {
        margin-left: 15px;
        display: inline-block;
    }
    .filtro a.selected i {
       color: #FFFFFF;
    }
    .filtro a.no-selected i {
        background-color: transparent !important;
    }
    .filtro a:last-child {
        margin-right: 15px;
    }
    .filtro a > div{
        font-size: 10px;
        color: #333333;
        margin-top: 2px;
        text-transform: uppercase;
    }

    .filtro a i {
        border: 1.5px solid #DDDDDD;
        color: #333333;
        border-radius: 50%;
        min-width: 50px;
        min-height: 36px;
        text-align: center;
        line-height: 45px;
        border-style: dashed;
        font-size: 144%;
    }
}
