<ion-header [style.background-color]="cor" [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar hideBackButton [style.background-color]="cor">
    <ion-grid [style.background-color]="cor" style="padding-bottom:0;">
      <ion-row>
        <ion-col class="text-center text-white">

          <ion-icon tappable (click)="voltar()" class="icones pull-left" name="ios-arrow-back"></ion-icon>

          <span class="titulo"> {{empresa_nome}} </span>

          <ion-icon class="icones pull-right" (click)="goNotification()" name="notifications">
            <ion-badge id="notifications-badge" *ngIf="notification_total != 0" color="danger">{{notification_total}}
            </ion-badge>
          </ion-icon>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="display:flex;flex-direction:row;padding:0;">

          <ion-searchbar #q placeholder="Buscar..." [showCancelButton]="shouldShowCancel" autocorrect="on" id="buscar"
            (keyup.enter)="goSearchLista($event.target.value, selected)" (ionCancel)="onCancel($event.target.value)">
          </ion-searchbar>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content class="home" #pageContent fullscreen>

  <div *ngIf="isConected">

    <div class="progress-outer" *ngIf="!hideMe">
      <div class="progress-inner" [style.width]="progress + '%'">
        {{progress}}%
      </div>

      <span>Sincronizando os produtos... Aguarde. <a (click)="sincInfo()">
          <ion-icon name="help-circle"></ion-icon>
        </a></span>

    </div>

    <div *ngIf="!hideMe" class="spaceload"></div>

    <div class="page-load" *ngIf="!loadpage">
      <ion-spinner item-start="" name="bubbles" class="spinner spinner-ios spinner-bubbles spinner-ios-bubbles">
      </ion-spinner>
    </div>

  </div>

  <header class="scroll filtro mb-2 mt-4" *ngIf="!hideMenu">
    <nav>
      <a (click)="goSearchLista(termo_item, 'all');" [ngClass]="selected === 'all' ? 'selected' : 'no-selected'">
        <i class="fal fa-globe fa-2x" [style.background-color]="cor"></i>
        <div>Todos</div>
      </a>
      <a (click)="goSearchLista(termo_item, 'lancamento');"
        [ngClass]="selected === 'lancamento' ? 'selected' : 'no-selected'">
        <i class="fal fa-star fa-2x" [style.background-color]="cor"></i>
        <div>Novos</div>
      </a>

      <a *ngFor="let filtro of filtros" (click)="goSearchLista(termo_item, filtro.slug);"
        [ngClass]="selected === filtro.slug ? 'selected' : 'no-selected'">
        <i class="fal fa-{{filtro.icone}} fa-2x" [style.background-color]="cor"></i>
        <div>{{filtro.nome}}</div>
      </a>

    </nav>
  </header>

  <div class="mgs-off" *ngIf="hideMenu">
    <i class="fal fa-engine-warning fa-2x"></i>
    <h5>{{msgoff}}</h5>
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let item of users;  let i=index" class="swipeout" no-padding>
      <ion-item-options side="left" *ngIf="i < 300">
        <button class="addFavoritos" ion-button color="primary" [style.background-color]="cor"
          (click)="goFooterFavoritosPage();">
          <i class="fal fa-list-alt"></i>
          Criar<br>Lista
        </button>
      </ion-item-options>
      <ion-item class="swipeout-content item-content produtos" *ngIf="i < 300">
        <ion-avatar item-start (click)="downloadImg(item)" *ngIf="item.capa != '' && !item.downloaded">
          <span *ngIf="!item.downloading">
            <img src="assets/imgs/download-img.svg" style="width: 70px">
          </span>
          <span *ngIf="item.downloading">
            <img src="assets/imgs/spinner.gif" style="width: 70px">
          </span>
        </ion-avatar>
        <ion-avatar item-start *ngIf="item.capa != '' && item.downloaded">
          <span>
            <img [src]="item.newCapa" style="width: 70px">
          </span>
        </ion-avatar>
        <ion-avatar item-start *ngIf="item.capa == ''">
          <span>
            <img src="assets/produtos/none.png" style="width: 70px">
          </span>
          <span class="btn-codigo px-2">{{item.codigo}}</span>
        </ion-avatar>
        <div (click)="goDetalhe(item._id)">
          <div class="codigo-list btn-group btn-group-xs w-100">
            <span class="lancamentos px-2 pull-right" [style.color]="cor" *ngIf="item.status != 'normal'">
              <ion-icon name="star"></ion-icon>
              {{item.lancamentoate.split('-')[2]}}-{{item.lancamentoate.split('-')[1]}}
            </span>
          </div>
          <h2 class="titulo">{{item.titulo}}</h2>

          <div *ngIf="item.aplicacoes == false">
            <small class="subtitulo" text-wrap [innerHTML]="item.texto"></small>
          </div>
          <div *ngIf="item.aplicacoes != false">
            <small class="subtitulo-line" [innerHTML]="item.texto"></small>
          </div>

          <div class="aplicacoes" *ngFor="let apl of item.aplicacoes|slice:0:3;">
            <div>{{apl.montadora}}</div>
            <div>{{apl.modelo}}</div>
            <div>{{apl.anos.split('|')[0]}} / {{apl.anos.split('|')[apl.anos.split('|').length - 1]}}</div>
          </div>
        </div>
      </ion-item>
      <ion-item-options side="right" *ngIf="i < 300">
        <button class="addFavoritos" id="{{buttonLoad}}" ion-button color="primary" [style.background-color]="cor"
          (click)="selectLista(item._id, item.empresa)">
          <i class="fal fa-heart"></i>
          Lista
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando novos produtos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer class="footerWhite" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterLHomePage();"><i
            class="fas fa-clone"></i>
          <div>Catálogos</div>
        </a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterFavoritosPage();"><i
            class="fal fa-list-alt"></i>
          <div>Listas</div>
        </a></div>
      <div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterPerfilPage();"><i
            class="fal fa-warehouse-alt"></i>
          <div>A Empresa</div>
        </a></div>
    </div>
  </ion-toolbar>
</ion-footer>