<ion-header [style.background-color]="cor" [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
	<ion-navbar hideBackButton [style.background-color]="cor">
		<ion-grid [style.background-color]="cor">
			<ion-row>
				<ion-col class="text-center text-white">
					<ion-icon tappable (click)="voltar()" class="icones  pull-left" name="ios-arrow-back"></ion-icon>
					<span class="titulo"> {{empresa_nome}} </span>
					<ion-icon class="icones  pull-right" name="notifications"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>


<ion-content no-padding #pageContent fullscreen>

  <div *ngFor="let item of itens">

	<div *ngIf="item.capa != ''" class="slide-content">

		<a href="#" class="p-2 btn-heart"><i class="fal fa-heart fa-lg"></i></a>
		<a href="#" class="p-2 btn-share"><i class="fal fa-share-alt fa-lg"></i></a>

		<ion-slides loop="true" pager>

			<ion-slide *ngFor="let img of item.imagens">
				<img [src]="img.imagem"> 
			</ion-slide>

		</ion-slides>

		<div class="arrow-slide">
			<button type="submit" float-left  (click)="prev()"><i class="fal fa-angle-left"></i></button>
			<button type="submit" float-right (click)="next()"><i class="fal fa-angle-right"></i></button>
		</div>

	</div>

	<div *ngIf="item.capa == ''" class="slide-content">

		<a href="#" class="p-2 btn-heart"><i class="fal fa-heart fa-lg"></i></a>
		<a href="#" class="p-2 btn-share"><i class="fal fa-share-alt fa-lg"></i></a>

		<ion-slides loop="true" pager>
			<ion-slide>
				<img src="assets/produtos/none.png">
			</ion-slide>
		</ion-slides>

		<div class="arrow-slide">
			<button type="submit" float-left  (click)="prev()"><i class="fal fa-angle-left"></i></button>
			<button type="submit" float-right (click)="next()"><i class="fal fa-angle-right"></i></button>
		</div>
		
	</div>

	<div padding>

		<div class="titulo-bar">

			<div class="codigo-list">
				<span class="px-2" [style.color]="cor" *ngIf="item.status != 'normal'"><ion-icon name="star"></ion-icon> {{item.lancamentoate.split('-')[2]}}-{{item.lancamentoate.split('-')[1]}} </span>
				<span class="btn-light p-2" [style.background-color]="cor">{{item.catalogo}}</span><span class="btn-secondary p-2">{{item.codigo}}</span>
			</div>

			<h4><strong>{{item.titulo}}</strong></h4>

			<div *ngIf="item.aplicacoes != false">
				<small class="subtitulo" text-wrap [innerHTML]="item.texto"></small>
			</div>

			<div class="w-100 d-block mt-5">
				<a *ngIf="item.referencias != ''" href="javascript:void(0);" class="" (click)="ShowOriginal(item.referencias)"><span class="subtitulo">CÓDIGO ORIGINAL </span><i class="fas fa-exclamation-circle"></i></a>
				<a *ngIf="item.equivalencias != ''" href="javascript:void(0);" class="pull-right" (click)="ShowEquivalencias(item.equivalencias)"><span class="subtitulo">EQUIVALÊNCIAS </span><i class="fas fa-exclamation-circle"></i></a>
			</div>


		</div>

	</div>

	<hr *ngIf="item.aplicacoes != ''">

	<div *ngIf="item.aplicacoes != ''" padding>

		<h4><strong>APLICAÇÕES</strong></h4>

		<div class="accordion vertical">
			<div class="aplicacoes-bar mb-2">

				<div *ngFor="let apl of item.aplicacoes">
					<input type="radio" id="radio-{{apl.id}}" name="radio-accordion" />
					<label class="aplicacoes detalhe-list" for="radio-{{apl.id}}" (click)="ShowRelacionados(item._id, apl.montadora, apl.modelo, apl.anos)">
						<div>{{apl.montadora}}</div>
						<div>{{apl.modelo}}</div>
						<div>{{apl.versao}}</div>
						<div>{{apl.anos.split('|')[0]}} / {{apl.anos.split('|')[apl.anos.split('|').length - 1]}} <i *ngIf="relacionados != false" class="fal fa-plus-octagon ml-3"></i></div>
					</label>
					<div class="subitens">
						<div class="equiv-title" [style.background-color]="cor">PRODUTOS RELACIONADOS A ESTE VEÍCULO</div>
						<div class="subitens-content">
							<div class="sub-aplicacoes" *ngFor="let apl_relacionados of relacionados|slice:0:10;" (click)="goDetalheSubitem(apl_relacionados._id)">
								<div>{{apl_relacionados.titulo}} <div class="subtext">{{apl_relacionados.texto}}</div></div>
								<div><span>{{apl_relacionados.codigo}}</span> <i class="fas fa-share ml-3"></i></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<hr *ngIf="item.adicionais != ''">

	<div *ngIf="item.adicionais != ''" padding>

		<h4><strong>INFORMAÇÕES ADICIONAIS</strong></h4>

		<div class="adicionais-bar mb-2">

			<ion-list>
				<ion-item *ngFor="let adicionais of item.adicionais" no-padding>
					{{ adicionais.titulo }}: <span class="pull-right">{{ adicionais.texto }}</span>
				</ion-item>  
			</ion-list>
	
		</div>

	</div>

	<hr *ngIf="item.texto != ''">

	<div *ngIf="item.texto != ''" padding>

		<h4><strong>DETALHES COMPLETOS</strong></h4>

		<div class="detalhes-bar mb-2">

			<blockquote class="mt-3" *ngIf="item.texto != ''"><div [innerHtml]="item.texto"></div></blockquote>
	
		</div>

	</div>

  </div>

</ion-content>


<ion-footer class="footerWhite" [scrollHide]="footerScrollConfig" [scrollContent]="pageContent">
	<ion-toolbar>
		<div class="d-flex justify-content-between">
			<div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterLHomePage();"><i class="fas fa-clone"></i><div>Catálogos</div></a></div>
			<div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterFavoritosPage();"><i class="fal fa-list-alt"></i><div>Listas</div></a></div>
			<div class="flex-fill text-center"><a href="javascript:void(0);" (click)="goFooterPerfilPage();"><i class="fal fa-warehouse-alt"></i><div>A Empresa</div></a></div>
		</div>
	</ion-toolbar>
</ion-footer>