page-detalhe {
    .scroll-content {
        background-color: #FFFFFF !important;
    }
    .scroll-content .label-md{
        margin: 0;
    }
    .toolbar-background{
        border:0px !important;
        background: none;
    }
    .toolbar-content .icones{
        font-size: 2.3rem;
        color: white !important;
        cursor: pointer !important;
    }
    ion-content{
        background-color: white;
    }
    .icones_filter:before {
        color: white;
        vertical-align: sub;
    }
    .swiper-slide{
        text-align: center;
    }
    .slide-content{
        position: relative;
    }
    .arrow-slide{
        position: absolute;
        top: 30%;
        z-index: 1;
        width: 100%;
    }
    .arrow-slide button{
        padding: 15px;
        background: transparent;
        border: none
    }
    .arrow-slide button i{
        font-size: 5rem;
    }
    .swiper-pagination {
        text-align: left;
        padding: 0 15px;
    }
    .swiper-pagination-bullet-active {
        background: #484848;
        opacity: 1;
    }
    .swiper-pagination-bullet {
        border-radius: 0;
        width: 12px;
        height: 3px;
    }
   .btn-heart {
        color: #484848;
        position: absolute;
        z-index: 9;
        top: 10px;
        left: 10px;
        padding: 10px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    .btn-share {
        color: #484848;
        position: absolute;
        z-index: 9;
        top: 10px;
        left: 55px;
        padding: 10px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    blockquote {
        background: #f3f2f2;
        padding: 10px;
        margin: 0 0 10px 0;
        font-size: 11px;
        font-weight: normal;
    }
    blockquote.short > div {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .codigo-list{
        font-size: 100%;
        position: absolute;
        top: 70px;
        z-index: 9;
        right: 15px;
    }
    .aplicacoes {
        color: #777777;
        padding: 2px 0;
        font-size: 10px;
        text-transform: uppercase;
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-align: center!important;
        align-items: center!important;
        border-bottom: 1px dashed #e8e8e8;
    }
   .aplicacoes:last-child{
        border-bottom: 1px dashed transparent;
    }
    .aplicacoes > div{
        width: 33.33333%
    }
    .aplicacoes > div:first-child{
        text-align: left;
    }
    .aplicacoes > div{
        text-align: center;
    }
    .aplicacoes > div:last-child{
        text-align: right;
    }

    .aplicacoes.detalhe-list {
        padding: 10px 0;
    }
    .sub-aplicacoes {
        color: #777777;
        padding: 6px 0;
        font-size: 10px;
        text-transform: uppercase;
        -ms-flex-pack: justify !important;
        -webkit-box-pack: justify !important;
        -webkit-justify-content: space-between !important;
        justify-content: space-between !important;
        display: -ms-flexbox !important;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: flex !important;
        -ms-flex-align: center !important;
        -webkit-box-align: center !important;
        -webkit-align-items: center !important;
        align-items: center !important;
        border-bottom: 1px dashed #b0b0b0;
    }
    .sub-aplicacoes:last-child {
        border-bottom: 1px dashed transparent;
    }
    .sub-aplicacoes > div:first-child{
        text-align: left;
        width: 75%
    }
    .sub-aplicacoes > div{
        text-align: center;
    }
    .sub-aplicacoes > div:last-child{
        width: 25%;        
        text-align: right;
    }
    .sub-aplicacoes > div .subtext{
        font-size: 9px;
        color: #b4b4b4;
        overflow: hidden;
        letter-spacing: 1px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    /* Shared for all accordion types */
    .accordion [type=radio], .accordion [type=checkbox] {
        display:none;
    }
    .accordion label {
        display:block;
        cursor:pointer;
        text-transform:uppercase;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
    }
    .accordion .subitens {
        font-size: 10px;
        padding: 0;
        overflow:hidden;
        display: none;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
    }

    /* Vertical */
    .vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
        border-bottom:0;
    }
    .vertical [type=radio]:checked ~ label ~ .subitens, .vertical [type=checkbox]:checked ~ label ~ .subitens {
       display: block
    }
    .equiv-title {
        opacity: 0.6;
        height: 20px;
        line-height: 21px;
        margin: 0;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }
    .subitens-content{
        background-color: #FFFDFD;
        padding: 2px 5px;
    }
    .adicionais-bar .item {
        font-size: 13px;
    }
    small.subtitulo {
        font-size: 85%;
        color: #aaaaaa;
        letter-spacing: 0.5px;
        margin: 5px 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

}
